<!--<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 text-center">-->
  <!--<h2> Login </h2>-->
  <!--<div >-->
    <!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
      <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" placeholder="Username" formControlName="username">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<input type="password" class="form-control" placeholder="Password" formControlName="password">-->
      <!--</div>-->
      <!--<div>-->
        <!--<button type="submit" [disabled]="loading || loginForm.invalid" class="btn btn-primary">Login</button>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
  <!--<p>Normal user:- username: user password: user123</p>-->
  <!--<p>Admin user:- username: admin password: admin123</p>-->
<!--</div>-->

<!-- Default form login -->
<form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->
  <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username" formControlName="username">

  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" formControlName="password">

  <div class="d-flex justify-content-around">
    <div>
      <!-- Remember me -->
      <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
    </div>
    <div>
      <!-- Forgot password -->
      <a href="">Forgot password?</a>
    </div>
  </div>

  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="loading || loginForm.invalid">Sign in</button>

  <!-- Register -->
  <p>Not a member?
    <a href="">Register</a>
  </p>

  <!-- Social login -->
  <p>or sign in with:</p>

  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="twitter"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="linkedin"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="github"></mdb-icon>
  </a>

</form>
<!-- Default form login -->
