<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header">Ajouter Employe</h5>
    <div class="card-body">
  
      <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

     <div class="form-group">
      <label for="name">Nom:*</label>
      <input type="text" class="form-control" placeholder="Entrer nom" id="nom" required [(ngModel)]="employe.nom" name="nom">
     </div>
  
        <div class="form-group">
          <label for="name">Prénom:*</label>
          <input type="text" class="form-control" placeholder="Entrer prenom" id="prenom" required [(ngModel)]="employe.prenom" name="prenom">
        </div>

        <div class="form-group">
          <label for="name">Superviseur:*</label>
          <select [(ngModel)]="employe.superviseur" name="super"  class="form-control" >
            <option  *ngFor="let sup of employes; let i = index" [ngValue]="sup">

              {{sup.nom}} {{sup.prenom}}
            </option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="name">Login:*</label>
          <input type="text" class="form-control" placeholder="Entrer votre login" id="login" required [(ngModel)]="employe.login" name="login">
        </div>

        <div class="form-group">
            <label for="name">Mot De Passe:*</label>
            <input type="password" class="form-control" placeholder="Entrer mode de passe" id="motDePasse" required [(ngModel)]="employe.motDePasse" name="motDePasse">
          </div>

          <div class="form-group">
            <label for="name">E-Mail:*</label>
            <input type="email" class="form-control" placeholder="Entrer Email" id="email" required [(ngModel)]="employe.email" name="email">
          </div>

        <div class="form-group">
          <label for="name">Adresse:*</label>
          <input type="text" class="form-control" placeholder="Entrer Adresse" id="adresse" required [(ngModel)]="employe.adresse" name="adresse">
        </div>

          <div class="form-group">
            <label for="name">Phone:*</label>
            <input type="number" class="form-control" placeholder="Entrer numero telephone" id="phone" required [(ngModel)]="employe.phone" name="phone">
          </div>

        <div class="form-group">
          <label for="name">CC:*</label>
          <input type="text" class="form-control" placeholder="Entrer Cost Center" id="cc" required [(ngModel)]="employe.cc" name="cc">
        </div>

        <div class="form-group">
          <label for="name">BU:*</label>
          <input type="text" class="form-control" placeholder="Entrer Bussiness Unit" id="bu" required [(ngModel)]="employe.bu" name="bu">
        </div>
          
        <div class="text-center">
          <button class="btn btn-primary mr-1" type="submit">Ajouter</button>
        </div>
      </form>
  
    </div>
  </div>


  
  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <!-- <button class="btn btn-success" (click)="newProduit()">Add</button> -->
  </div>
