<h1>Gestion Employe</h1>

<div class="row" align="right">
  <div class="col-2">

  <button routerLink="/addEmploye" class="btn btn-block btn-primary" type="button">Ajouter</button>
  </div>
</div>
<br>
<div class="panel-body">
  <table style="width: 100%" class="table table-striped ">
    <thead>
      <tr>
        <th style=" text-align:center">Nom</th>
        <th style=" text-align:center">Prenom</th>
        <th>Login</th>
        <th>Phone</th>
        <th>CC</th>
        <th>BU</th>
        <th>Superviseur</th>

        <th style=" text-align:center;width: 100px">Actions</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employe of employes | async">
        <td>{{employe.nom}}</td>
        <td>{{employe.prenom}}</td>
        <td>{{employe.login}}</td>
        <td>{{employe.phone}}</td>
        <td>{{employe.cc}}</td>
        <td>{{employe.bu}}</td>
        <td *ngIf="employe.superviseur">{{employe.superviseur.nom}} {{employe.superviseur.prenom}}</td>
        <td *ngIf="!employe.superviseur">-</td>
        
        <td style="width: 150px"><button (click)="updateEmploye(employe.id)" class="btn-sm btn-success mx-1">Edit</button>
          <button (click)="deleteEmploye(employe.id)" class="btn-sm btn-danger">Delete</button>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>






