<!--&lt;!&ndash; main app container &ndash;&gt;-->
<!--<div class="card m-3">-->
  <!--<h5 class="card-header">Modifier demande de reservation</h5>-->
  <!--<div class="card-body">-->

    <!--<form #form="ngForm" autocomplete="off"  (ngSubmit)="onSubmit()">-->


      <!--<div class="form-group">-->
        <!--<label for="name">Employe:*</label>-->
        <!--<select [(ngModel)]="reservation.employess" name="employe" id="employe" class="form-control"  >-->
          <!--<option *ngFor="let empl of employes; let i = index " [ngValue]="empl">-->
            <!--{{empl.nom}} {{empl.prenom}}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="name">Superviseur:*</label>-->
        <!--<select  class="form-control" placeholder="Entrer nom manager"  disabled>-->
          <!--<option  *ngFor="let emp of employes; let i = index" [value]="emp">-->

            <!--{{superviseur.nom}} {{superviseur.prenom}}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="name">Destination:*</label>-->
        <!--<select  class="form-control" placeholder="Entrer nom manager" >-->
          <!--<option  *ngFor="let emp2 of destinations; let i = index" [value]="emp2">-->

            <!--{{emp2.depart}} -> {{emp2.destination}}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="dateReservation">Date Reservation</label>-->
        <!--<input type="datetime-local" class="form-control" id="dateReservation" required [(ngModel)]="reservation.dateReservation" name="dateReservation">-->
      <!--</div>-->

      <!--<div class="text-center">-->
        <!--<button class="btn btn-primary mr-1"    type="submit">Ajouter</button>-->
      <!--</div>-->
    <!--</form>-->

  <!--</div>-->
<!--</div>-->

