<div class="page-wrapper default-theme sidebar-bg bg2 toggled" [ngClass]="getClasses()">


  <!-- page-content  -->
  <main class="page-content pt-2">
    <div id="overlay" class="overlay"></div>
    <notifier-container></notifier-container>
    <app-sidebar></app-sidebar>

    <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">

      <router-outlet></router-outlet>

    </div>
    <div class="overlay" (click)="toggleSidebar()"></div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
