<h1>Gestion Destination</h1>

<div class="col-6 col-sm-4 col-md-2">
  <button routerLink="/addDestination" class="btn btn-block btn-primary" type="button">Ajouter</button>
</div>

<div class="panel-body">
  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th style=" text-align:center">Départ</th>
      <th style=" text-align:center">Déstination</th>
      <th>Prix(Jour) </th>
      <th>Prix(Soir)</th>


      <th style=" text-align:center">Actions</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let des of destinations | async ">
      <td>{{des.depart}}</td>
      <td>{{des.destination}}</td>
      <td>{{des.prixJour}}</td>
      <td>{{des.prixSoir}}</td>

      <td>
      <!--<button (click)="update(des.id)" class="btn btn-success">Edit</button>&ndash;&gt;-->
        <button (click)="deleteDestination(des.id)" class="btn btn-danger">Delete</button>

      </td>
    </tr>
    </tbody>
  </table>
</div>






