<nav style="background-color: #00a9fd" id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <!-- sidebar-brand  --><br>
    <div style="width: 250px" class="sidebar-item sidebar-brand">
      <img src="assets/img/logo1.png" width="400px">
    </div>
    <br><br>

    <!-- sidebar-menu  -->
    <div class=" sidebar-item sidebar-menu">
      <ul>

        <li class="sidebar-item ">
          <a routerLink="">
            <i class="fa fa-fw fa-chart-pie"></i>
            <span class="menu-text">Dashboard</span>

          </a>
        </li>

        <li class="sidebar-item">
          <a routerLink="/listEmploye"*ngIf="isFacilities()">
          <i class="fa fa-fw fa-file-invoice"></i>
          <span class="menu-text">Gestion Employe</span>

          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/listReservation" >
            <i class="fa fa-fw fa-file-invoice"></i>
            <span class="menu-text">Gestion des Reservation</span>
          </a>
        </li>
        <li class="sidebar-item" *ngIf="isSupervisor()">
          <a routerLink="/validerReservation">
            <i class="fa fa-fw fa-file"></i>
            <span class="menu-text">Vaidation des Reservation</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/listDestination" *ngIf="isFacilities()">
            <i class="fa fa-fw fa-file-invoice"></i>
            <span class="menu-text">Gestion des Destinations</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/finaliserReservation" *ngIf="isFacilities()">
            <i class="fa fa-fw fa-file"></i>
            <span class="menu-text">Finalisation des Reservation</span>
          </a>
        </li>
        <br><br><br>
        <li class="sidebar-item">
          <a (click)="logout()" >
            <i class="fa fa-fw fa-file-invoice"></i>
            <span class="menu-text">Logout</span>
          </a>
        </li>




      </ul>
    </div>
    <!-- sidebar-menu  -->
  </div>
</nav>
