<h1>Validation de Réservation</h1>

<div class="col-6 col-sm-4 col-md-2">
  <button routerLink="/addReservation" class="btn btn-block btn-primary" type="button">Ajouter</button>

</div>

<div class="panel-body">
  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th style=" text-align:center">Employe</th>
      <th>Départ</th>
      <th>Destination</th>
      <th>Date Reservation</th>
      <th style=" text-align:center">Etat demande</th>

      <th style=" text-align:center">Actions</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of reservations2; let i = index">
      <td>{{reservation.employess[0].nom}} {{reservation.employess[0].prenom}}</td>
      <td *ngIf="reservation.destination">{{reservation.destination.depart}}</td>
      <td *ngIf="reservation.destination">{{reservation.destination.destination}}</td>
      <td>{{reservation.dateReservation|date:'medium'}}</td>
      <td>
        {{reservation.etat}}</td>


      <td><button (click)="valider(i)" class="btn btn-success">Approuve</button>
        <button (click)="refuser(i)" class="btn btn-danger">Refuse</button>

      </td>
    </tr>
    </tbody>
  </table>
</div>






