<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Ajouter demande de reservation</h5>
  <div class="card-body">

    <form #form="ngForm" autocomplete="off"  (ngSubmit)="onSubmit()">


      <div class="form-group">
        <label for="name">Employe:*</label>
        <select class="form-control" placeholder="Entrer nom" (change)="onChangeEmploye($event)" >
          <option *ngFor="let empl of employes; let i = index " [value]="empl">
            {{empl.nom}} {{empl.prenom}}
          </option>
        </select>
      </div>

      <div class="form-group">
      <label for="name">Superviseur:*</label>
      <select  class="form-control" placeholder="Entrer nom manager"  disabled>
        <option  *ngFor="let emp of employes; let i = index" [value]="emp">

          {{superviseur.nom}} {{superviseur.prenom}}
        </option>
      </select>
      </div>

      <div class="form-group">
        <label for="name">Destination:*</label>
        <select  class="form-control" placeholder="Entrer nom manager" (change)="onChangeLieu($event)" >
          <option  *ngFor="let emp2 of destinations; let i = index" [value]="emp2">

            {{emp2.depart}} -> {{emp2.destination}}

          </option>
        </select>
      </div>

      <!--<div class="form-group">
        <label for="name">Lieu.ts Depart:*</label>
        <input type="text" class="form-control" placeholder="Entrer lieu depart" id="lieuDepart" required [(ngModel)]="reservation.lieuDepart" name="lieuDepart">
      </div>

      <div class="form-group">
        <label for="name">Lieu.ts Destination</label>
        <input type="text" class="form-control" placeholder="Entrer lieu destinantion" id="lieuDestination" required [(ngModel)]="reservation.lieuDestination" name="lieuDestination">
      </div>-->

      <div class="form-group">
        <label for="name">Date Reservation</label>
        <input type="datetime-local" class="form-control" placeholder="Entrer date reservation" id="dateReservation" required [(ngModel)]="reservation.dateReservation" name="dateReservation">
      </div>

      <div class="form-group">
        <label for="name">Business Unit</label>
        <select class="form-control" placeholder="Entrer BU" id="bu" required [(ngModel)]="reservation.bu" name="bu">
          <option value="Pixartprinting">Pixartprinting</option>
          <option value="Exaprint">Exaprint</option>
          <option value="Easyflyer">Easyflyer</option>
          <option value="Tradeprint">Tradeprint</option>
        </select>




      </div>

      <div class="form-group">
        <label for="name">Cost Center</label>
        <select class="form-control" placeholder="Entrer CC" id="cc" required [(ngModel)]="reservation.cc" name="cc">
          <option value="IT">IT</option>
          <option value="Care">Care</option>
          <option value="Marketing">Marketing</option>
          <option value="Design">Design</option>
        </select>




      </div>
        
      <div class="text-center">
        <button class="btn btn-primary mr-1"    type="submit">Ajouter</button>
      </div>
    </form>

  </div>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newProduit()">Add</button> -->
</div>
