<h1>Demande de Réservation</h1>

<div class="row" align="right">
  <div class="col-2">
  <button  routerLink="/addReservation" class="btn btn-block btn-primary" type="button">Ajouter</button>
  </div>
  <div class="col-2">
  <button (click)="exportAsXLSX()" class="btn btn-block btn-primary" type="button">Export All</button>
  </div>
  <div class="col-2">
  <button (click)="exportByBu()" class="btn btn-block btn-primary" type="button">Export Pixart</button>
  </div>
  <div class="col-2">
    <button (click)="exportByBuAndCc1()" class="btn btn-block btn-primary" type="button">Export Pixart IT </button>
  </div>
  <div class="col-2">
    <button (click)="exportByBuAndCc2()" class="btn btn-block btn-primary" type="button">Export Pixart Care</button>
  </div>
  <div class="col-2">
    <button (click)="exportByBu2()" class="btn btn-block btn-primary" type="button">Export Exaprint</button>
  </div>
</div>
<br>
<div #content class="panel-body">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th style=" text-align:center">Employe</th>
        <th style=" text-align:center">Superviseur</th>
        <th>Lieu Départ</th>
        <th>Lieu Destination</th>
        <th>Date Reservation</th>
        <th>Prix Course</th>



        <th style=" text-align:center">Etat demande</th>

        <th style=" text-align:center">Actions</th>

        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{reservation.employess[0].nom}} {{reservation.employess[0].prenom}}</td>
        <td *ngIf="reservation.employess[0].superviseur">{{reservation.employess[0].superviseur.nom}} {{reservation.employess[0].superviseur.prenom}}</td>
        <td *ngIf="reservation.destination">{{reservation.destination.depart}}</td>
        <td *ngIf="reservation.destination">{{reservation.destination.destination}}</td>
        <td>{{reservation.dateReservation|date:'medium'}}</td>
        <td *ngIf="reservation.destination"> {{reservation.prix}} </td>
        <td>
          {{reservation.etat}}

        
        <td>

        <button (click)="goto(reservation.id)" class="btn btn-success mx-1">Edit</button>
          <button (click)="deleteReservation(reservation.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>






