<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Ajouter Déstination</h5>
  <div class="card-body">

    <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Point de Départ:*</label>
        <input type="text" class="form-control" placeholder="Entrer point de depart" id="depart" required [(ngModel)]="model.depart" name="depart">
      </div>

      <div class="form-group">
        <label for="name">Déstination:*</label>
        <input type="text" class="form-control" placeholder="Entrer Destination" id="destination" required [(ngModel)]="model.destination" name="destination">
      </div>

      <div class="form-group">
        <label for="name">Prix Jour:*</label>
        <input type="number" class="form-control" placeholder="Entrer Prix jour" id="prixJ" required [(ngModel)]="model.prixJour" name="prixJ">
      </div>

      <div class="form-group">
        <label for="name">Prix Soir:*</label>
        <input type="number" class="form-control" placeholder="Entrer prix soir" id="prixS" required [(ngModel)]="model.prixSoir" name="prixS">
      </div>


      <div class="text-center">
        <button class="btn btn-primary mr-1" type="submit">Ajouter</button>
      </div>
    </form>

  </div>
</div>



<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newProduit()">Add</button> -->
</div>
